{% include custom/footer.html %}
 <b> powered by: </b>
  <img src="http://www.hardkernel.com/main/html/img/common/logo.png" alt="Odroid" style="width:80px;height:80">
  <img src="https://d11xdyzr0div58.cloudfront.net/static/archnavbar/archlogo.4fefb38dc270.png" alt="ArchLinux" style="width:80px;height:80">
  <img src="http://nginx.org/nginx.png" alt="NGINX" style="width:80px;height:80">
  <img src="http://octopress.org/images/logo.png?1420306322" alt="Octopress" style="width:80px;height:80">
  <img src="https://d3oypxn00j2a10.cloudfront.net/0.17.3/images/pages/brand_guidelines/small_v-dark.png" alt="Docker" style="width:80px;height:80">
</center>
